<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <h1>404</h1>
    <%- include("./partials/nav.ejs") %>
    <div>
        <p>Oops page not found</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>